<!-- <p>category-form works!</p> -->
   

<div class="card">
    <form
        class="form w-100 category-formCont"
        novalidate="novalidate"
        id="kt_category_form"
        #cateForm ="ngForm">
            
        <div class="col-md-2 offset-md-10 mb-10">
            <!-- <h1 class="text-dark mb-3">Create New Category</h1> -->
      <a
routerLink="/category-list"
class="btn btn-sm btn-light-primary"
>
< Back
</a>
        </div>

        <ng-container *ngIf="hasError">
            <div class="mb-lg-15 alert alert-danger">
              <div class="alert-text font-weight-bold">
                Kindly fill all the fields
              </div>
            </div>
          </ng-container>


          <div class="row mb-10">
          <div class="fv-row col-md-2 mb-10">
            <label class="form-label fs-6 fw-bolder text-dark">Category ID</label>
            <input
              class="border border-primary form-control form-control-lg form-control-solid"
              type="text"
              name="cat_id"
              autocomplete="off"
              [(ngModel)]="cat_id"
            />
     
          </div>

          <div class="fv-row col-md-4 mb-10">
            <label class="form-label fs-6 fw-bolder text-dark">Category Name</label>
            <input
              class="border border-primary form-control form-control-lg form-control-solid"
              type="text"
              name="cat_desc"
              autocomplete="off"
              [(ngModel)]="cat_desc"
            />
     
          </div>
          </div>
          <div class="fv-row align-items-end">
            <div class="col-md-2 offset-md-10 text-center">
            <button (click)="submit(cateForm)"
              type="submit" 
              id="kt_sign_in_submit"
              class="btn btn-sm btn-primary w-55 mb-5"
            >Submit
             
            </button>
        
          </div>
          </div>

        
          
        </form>
        <ng-template
        #formError
        let-control="control"
        let-message="message"
        let-validation="validation"
      >
        <ng-container
          *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
        >
          <div class="fv-plugins-message-container">
            <span role="alert">
              {{ message }}
            </span>
          </div>
        </ng-container>
      </ng-template>


    </div> 