.New{
    color:blue;
    font-weight: bold;
}
.Saved{
    color:greenyellow ;
    font-weight: bold;  
}
.Approved{
    color:green  ;
    font-weight: bold;
}
.Rejected{
    color:red ;
    font-weight: bold;  
 }
 .openmodal{
    color:#20a2f7;
    cursor:pointer;
 }