<!-- begin::Header -->
<div class="card-header border-0 pt-5">
  <div class="row mb-1">
    <h3 class="card-title align-items-start flex-column col-sm-10 col-md-10">
      <span class="card-label ul fw-bolder fs-3">Idea List</span>
    </h3>
    <div class="col-sm-2 col-md-2">
      <a routerLink="/idea/form" class=" btn btn-sm btn-light-primary float-end">
        Add New
      </a>
    </div>
  </div>


  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <ng-container *ngIf="hasError">
      <div class="mb-lg-15 alert alert-danger">
        <div class="alert-text font-weight-bold">
          Can't update when idea is under review
        </div>
      </div>
    </ng-container>

    <div class="table-responsive">
      <!-- begin::Table -->

      <table class="table table-responsive table-row-bordered table-striped table-hover table-row-gray-100 align-middle gs-0 gy-3">
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted">
            <th>SN</th>
            <th class="">Idea Subject</th>
            <th class="">Description</th>
            <th class="">Function Area</th>
            <th class="">Date</th>
            <!-- <th class="">Presented By</th> -->
            <th>Status</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody *ngIf="ideasList.length > 0">

          <ng-container *ngFor='let idea of ideasList; let idx = index '>
            <tr>
              <td> {{idx + 1}} </td>
              <td><span class="openmodal" (click)="openModal(idea)">{{idea.subject}}</span></td>
              <td>{{idea.description}}</td>
              <td>{{idea.f_area_desc}}</td>
              <td>{{idea.last_update | date}}</td>

              <!-- <td class="text-dark fw-bolder text-hover-primary fs-6">{{idea.fullname}}</td> -->
              <td>
                <span class="badge badge-light-success" [ngClass]="idea.idea_status">{{idea.idea_status}}</span>
              </td>
              
            </tr>
          </ng-container>

        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->

</div>