<div class="card">
<form
    class="form w-100 ideaformCont"
    [formGroup]="ideaForm"
    novalidate="novalidate"
    id="kt_idea_form"
    (ngSubmit)="submit()">
        
    <div class="text-center mb-10">
        <h1 class="text-dark mb-3">Idea for {{department.title}} Department</h1>
    </div>
      <!--end::Heading-->
    
      <!-- begin::Alert info-->
    
      <!-- end::Alert info-->
    
      <!-- begin::Alert error-->
      <ng-container *ngIf="hasError">
        <div class="mb-lg-15 alert alert-danger">
          <div class="alert-text font-weight-bold">
            Kindly fill all the fields
          </div>
        </div>
      </ng-container>
      <!-- end::Alert error-->
    
      <!--begin::Form group-->
      <div class="fv-row mb-10">
        <label class="form-label fs-6 fw-bolder text-dark">Subject</label>
        <input
          class="form-control form-control-lg form-control-solid"
          type="text"
          name="subject"
          autocomplete="off"
         
        />
 
      </div>


      <div class="fv-row mb-10">
        <label class="form-label fs-6 fw-bolder text-dark">Category</label>
        <input
          class="form-control form-control-lg form-control-solid"
          type="text"
          name="cat_id"
          autocomplete="off"
         
        />
 
      </div>


      <div class="fv-row mb-10">
        <label class="form-label fs-6 fw-bolder text-dark">Function Area</label>
        <input
          class="form-control form-control-lg form-control-solid"
          type="text"
          name="f_area_id"
          autocomplete="off"
         
        />
 
      </div>
      <!--end::Form group-->
    
      <!--begin::Form group-->
      <div class="fv-row mb-10">
        <div class="d-flex justify-content-between mt-n5">
          <div class="d-flex flex-stack mb-2">
            <label class="form-label fw-bolder text-dark fs-6 mb-0">Description</label>
           
          </div>
        </div>
    
        <textarea
          class="form-control form-control-lg form-control-solid description"
          type="text"
          name="description"
          autocomplete="off"
        
        ></textarea>
 
      </div>

      <div class="fv-row mb-10">
        <div class="d-flex justify-content-between mt-n5">
          <div class="d-flex flex-stack mb-2">
            <label class="form-label fw-bolder text-dark fs-6 mb-0">Attachment</label>
           
          </div>
        </div>
    
        <input
          class="form-control form-control-lg form-control-solid attachment"
          type="file"
          name="attachment"
          autocomplete="off"
        
        />
 
      </div>
      <!--end::Form group-->
    
      <!--begin::Action-->
      <div class="text-center">
        <button (click)="submit()"
          type="submit"
          id="kt_sign_in_submit"
    
          class="btn btn-lg btn-primary w-100 mb-5"
        >Submit
          <!---- <ng-container *ngIf="isLoading$ | async">
            <span class="indicator-progress" [style.display]="'block'">
              Please wait...
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </ng-container>
          <ng-container *ngIf="!(isLoading$ | async)">
            <span class="indicator-label">Continue</span>
          </ng-container> -->
        </button>
    
        <!-- begin::Separator  -->
      </div>
      <!--end::Action-->
    </form>
    <ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>

</div>

