<div class="card">
  <form
  class="form w-100 ideaformCont"
    novalidate="novalidate"
    id="kt_idea_form"
    #categoryForm ="ngForm">

  <div class="row"> 
    <div class="col-md-2 offset-md-10 text-center">
      <!-- <button
        type="button"
        id="kt_sign_in_back"
  
        class="btn btn-lg btn-gray w-100 mb-5"
      >Back
       
      </button> -->
      <a
routerLink="/dashboard"
class="btn btn-sm btn-light-primary"
>
-Back
</a>
    </div>
      <!-- begin::Separator  -->
    </div>


    
        
      <!--end::Heading-->
    
      <!-- begin::Alert info-->
    
      <!-- end::Alert info-->
    
      <!-- begin::Alert error-->
      <ng-container *ngIf="hasError">
        <div class="mb-lg-15 alert alert-danger">
          <div class="alert-text font-weight-bold">
            Kindly fill all the fields
          </div>
        </div>
      </ng-container>
      <!-- end::Alert error-->
    
      <!--begin::Form group-->
      <div class="fv-row col-md-8 mb-10">
        <label class="form-label fs-6 fw-bolder text-dark">Subject</label>
        <input
          class="border border-primary form-control form-control-lg form-control-solid"
          type="text"
          name="subject"
          autocomplete="off"
         [(ngModel)]="subject"
        />
 
      </div>

<div class="row mb-10">
      <div class="col-md-4">
        <label class="form-label fs-6 fw-bolder text-dark">Category</label>
        <Select class="form-select form-select-solid border border-primary form-control form-control-lg form-control-solid"
          name="categoryname" id="cat_id">
          <option value="1">Business Process</option>
          <option value="7">Services</option>
          <option value="8">Working Environment</option>
          
          type="text"
          name="cat_id"
          autocomplete="off"
          [(ngModel)]="cat_id"
         
        </Select>
 
      </div>


      <div class="col-md-4">
        <label class="form-label fs-6 fw-bolder text-dark">Function Area</label>
        <select class="form-select form-select-solid border border-primary form-control form-control-lg form-control-solid"
           name="function_area" id="f_area_id">
          <option value="1">IT</option>
          <option value="2">Sale</option>
          <option value="3">Shipping</option>
          <option value="4">Prodution</option>
          <option value="5">Accounts</option>
          <option value="6">Audit</option>
          <option value="7">Admin</option>
          <option value="8">HR</option>
        <!-- --> 
        type="text"
          name="f_area_id"
          autocomplete="off"
          [(ngModel)]="f_area_id"
         
        </select> 
 
      </div>
        
          
          

      <div class="col-md-4">
        <!-- <div class="d-flex justify-content-between mt-n5"> -->
          <!-- <div class="d-flex flex-stack mb-2"> -->
            <label class="form-label fw-bolder text-dark fs-6">Attachment</label>
           
          <!-- </div> -->
        <!-- </div> -->
    
        <input
          class="border border-primary form-control form-control-lg form-control-solid attachment"
          type="file"
          name="attachment"
          autocomplete="off"
          [(ngModel)]="attachment"
        />
 
      </div>

    </div>
      <!--end::Form group-->
    
      <!--begin::Form group-->
      <div class="fv-row mb-10">
        <div class="d-flex justify-content-between mt-n5">
          <div class="d-flex flex-stack mb-2">
            <label class="form-label fw-bolder text-dark fs-6 mb-0">Description</label>
           
          </div>
        </div>
    
        <textarea
          class="border border-primary form-control form-control-lg form-control-solid description"
          type="text"
          name="description"
          autocomplete="off"
          [(ngModel)]="description"
        ></textarea>
 
      </div>

      
      <!--end::Form group-->
    
      <!--begin::Action-->
      <div class="row align-items-end">
      <div class="col-md-2 offset-md-10 text-center">
        <button (click)="submit(categoryForm)"
          type="submit"
          id="kt_sign_in_submit"
    
          class="btn btn-sm btn-primary w-100 mb-5"
        >Submit
         
        </button>
      </div>
        <!-- begin::Separator  -->
      </div>
      <!--end::Action-->
    </form>
    <ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>

</div>

